<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../iron-collapse/iron-collapse.html">
<link rel="import" href="../iron-icons/hardware-icons.html">

<dom-module id="ram-provider">
  <template>
    <style>
      :host { display: block; }
      #selected { cursor: pointer; list-style: none; border-bottom:1px solid lightgray;
        padding: 10px; margin:5px; color: #888; }
      #selected:hover { background: rgba(220,220,220, 0.4); color:#007bff; }
      .btn-collapsible:hover { color:#0056b3; }
      .btn-collapsible { background: transparent; width: 100%; border: none; border-bottom:1px solid lightgrey;
        color: #007bff; padding: 20px; cursor: pointer; outline: none; text-align: initial; font-size:13pt; }
      .close { float:right;font-size: 1rem;font-weight: 500;line-height: 0.5;color: #000;
        text-shadow: 0 1px 0 #fff;opacity: .5;cursor: pointer; }
      #show-selected { padding: 10px;margin: 5px;color: #888;font-weight: bold; }
      .collapse-content { border: 1px solid #dedede;}
    </style>
    <div>
      <button id="btn" on-click="toggle" class="btn-collapsible">
        <span><iron-icon icon="hardware:memory"></iron-icon></span> [[msgBtn]]
      </button>
      <iron-collapse id="collapse">
        <div class="collapse-content">
          <iron-ajax 
            auto 
            url="https://demo6292426.mockable.io/ramMemory" 
            last-response="{{rams}}"></iron-ajax>
          <template is="dom-repeat" items="[[rams.data]]">
            <li id='selected' on-click="selectItem">Memoria RAM <b>{{item.name}}</b> de {{item.ramMemory}} con {{item.speed}} ({{item.architecture}})</li>
          </template>
        </div>
      </iron-collapse>
        
      <template is="dom-if" if="[[ramMemory]]">
        <div id='show-selected'>
          Memoria RAM seleccionada: {{name}} de {{ramMemory}}GB
          <span on-click='reset' class="close"> X </span>
        </div>
      </template>
    </div>
  </template>

  <script>
    /**
     * `ram-provider`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class RamProvider extends Polymer.Element {
      
      static get is() { return 'ram-provider'; }

      static get properties() {
        return {
          rams: {
            type: Array,
            value: []
          },
          speed: {//esta en el padre (pc-component), como propiedad: speed="{{speed}}"
            type: Number,
            notify: true
          },
          ramMemory: {//esta en el padre (pc-component), como propiedad: ram-memory="{{ramMemory}}"
            type: Number,
            notify: true
          },
          name: {//esta en el padre (pc-component), como propiedad: name="{{name}}"
            type: String,
            notify: true
          },
          isCollapsible: {
            type: Boolean,
            value: false,
          },
          isOpenCollapsible: { type: Boolean, value: false, notify: true },
          msgBtn: String
        };
      }
      
      selectItem(e) {
        this.ramMemory = parseInt(e.model.item.ramMemory.replace('GB', ''));
        this.speed = parseInt(e.model.item.speed.replace('Mhz', ''));
        this.name = e.model.item.name;
        //console.log("select item ram = ", this.ramMemory, this.speed, this.name);
        this.isOpenCollapsible = false;
        this.toggle();
      }

      toggle() {
        this.$.collapse.toggle();
        this.$.btn.setAttribute('aria-expanded', this.$.collapse.opened);
        
        this.isCollapsible = !this.isCollapsible;
        if (!this.isOpenCollapsible) {
          if (this.isCollapsible && !this.ramMemory) {
            this.isOpenCollapsible = true;
          }
        }
        
      }

      static get observers() {
        return ['_viewChanges(isCollapsible, ramMemory)'];
      }

      _viewChanges(isCollapsible, ramMemory) {
        if (isCollapsible) {
          this.msgBtn = 'Ocultar RAMs';
        } else if (ramMemory) {
          this.msgBtn = "Volver a seleccionar";
        } else {
          this.msgBtn = 'Mostrar RAMs';
        }
      }

      reset() {
        this.ramMemory = undefined;
        this.speed = undefined;
        this.name = undefined;
      }
    }
    window.customElements.define(RamProvider.is, RamProvider);
  </script>
</dom-module>